* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    font-family: sans-serif;
    font-size: 1.2em;
    grid-template-columns: 15% 85%;
    height: 100%;
    width: 100%;
}

nav {
    background: blue;
    height: 100%;
    padding: 2em;
}
nav div {
    margin-bottom: 2em;
    padding: 2em;
}
nav div:hover {
    background: rgba(0,0,0,.1);
}

main {
    background: darkcyan;
    height: 100%;
    padding: 2em;
}
main div {
    margin-bottom: 2em;
}

/*
table > tr:nth-child(odd) {
    background: lightgray;
}
*/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
            grid-template-columns: 50% 50%;
        }
}